<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_OrderGratuity>
            <version>0.1.4</version>
        </Mediotype_OrderGratuity>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_address>
                <tip_amount>
                    <to_order>*</to_order>
                </tip_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <tip_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </tip_amount>
            </sales_convert_order>
        </fieldsets>
        <models>
            <mediotype_tipping>
                <class>Mediotype_OrderGratuity_Model</class>
            </mediotype_tipping>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Mediotype_OrderGratuity_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Mediotype_OrderGratuity_Block_Adminhtml_Sales_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Mediotype_OrderGratuity_Block_Adminhtml_Sales_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <mediotype_tipping>
                <class>Mediotype_OrderGratuity_Block</class>
            </mediotype_tipping>
        </blocks>
        <helpers>
            <mediotype_tipping>
                <class>Mediotype_OrderGratuity_Helper</class>
            </mediotype_tipping>
        </helpers>
        <resources>
            <mediotype_tipping_setup>
                <setup>
                    <module>Mediotype_OrderGratuity</module>
                </setup>
            </mediotype_tipping_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <tip>
                        <class>mediotype_tipping/total_tipping_quote</class>
                        <after>tax</after>
                        <before>grandtotal</before>
                    </tip>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <tip>
                        <class>mediotype_tipping/total_tipping_invoice</class>
                        <after>tax</after>
                        <before>grandtotal</before>
                    </tip>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <tip>
                        <class>mediotype_tipping/total_tipping_creditmemo</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grandtotal</before>
                    </tip>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <tip_amount translate="title">
                    <title>Tip Amount</title>
                    <source_field>tip_amount</source_field>
                    <model>mediotype_tipping/pdf</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>251</sort_order>
                </tip_amount>
            </totals>
        </pdf>
        <events>
            <sales_order_save_after>
                <observers>
                    <inventory>
                        <class>mediotype_tipping/observer</class>
                        <method>clearTipAmount</method>
                    </inventory>
                </observers>
            </sales_order_save_after>
            <paypal_prepare_line_items>
                <observers>
                    <turnkeye_insurance>
                        <type>singleton</type>
                        <class>mediotype_tipping/observer</class>
                        <method>addScreenToPayPal</method>
                    </turnkeye_insurance>
                </observers>
            </paypal_prepare_line_items>
        </events>
    </global>
    <frontend>
        <routers>
            <mediotype_tipping>
                <use>standard</use>
                <args>
                    <module>Mediotype_OrderGratuity</module>
                    <frontName>tipping</frontName>
                </args>
            </mediotype_tipping>
        </routers>
        <layout>
            <updates>
                <mediotype_tipping>
                    <file>mediotype_tipping.xml</file>
                </mediotype_tipping>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tipping_config translate="title" module="mediotype_tipping">
                                            <title>Mediotype</title>
                                        </tipping_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <totals_sort>
            <tip>50</tip>
        </totals_sort>
        <tipping_config>
            <general>
                <active>1</active>
                <require_tip>0</require_tip>
                <label>Tip:</label>
                <show_note>1</show_note>
                <tipping_note>Suggested tip amount is 15%</tipping_note>
                <subtotal_label>Tip Amount</subtotal_label>
                <use_ajax>1</use_ajax>
            </general>
        </tipping_config>
    </default>
    <!--<phpunit>-->
        <!--<suite>-->
            <!--<modules>-->
                <!--<Mediotype_OrderGratuity/>-->
            <!--</modules>-->
        <!--</suite>-->
    <!--</phpunit>-->
</config>
